@font-face {
    font-family: 'valorax';
    font-style: normal;
    font-weight: 400;
    src: local('valorax'), url('https://fonts.cdnfonts.com/s/91909/Valorax-lg25V.woff') format('woff');
}

