@font-face {
    font-family: 'Space Monkey';
    font-style: normal;
    font-weight: 700;
    src: local('Space Monkey'), url('https://DisFine.github.io/SM/SpaceMonkeyBold-Ea5On.woff') format('woff');
}

