@font-face {
    font-family: 'Space Monkey';
    font-style: normal;
    font-weight: 700;
    src: local('Space Monkey'), url('https://fonts.cdnfonts.com/s/73880/SpaceMonkeyBold-Ea5On.woff') format('woff');
}

